body{
    font-family: 'Noto Sans', sans-serif;
    display: flex;
  justify-content: center;
  align-items: center;
 
  height: 100vh;
  margin: 0;
    background-color: black;
}
.images{
    display: flex;
    justify-content: center;
     align-items: center;
     gap: 20px;
}
.images img{
    cursor: pointer;
    height: 150px;
    width: 150px;
    
}
.game{
    
    background-color: white;
    height: 80vh;
    width: 70vw;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
h1{
    font-size: 3rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(20, 170, 177);  
}
h4{
    font-size: 2rem;
    margin: 15px;
    font-weight: 800;
    color: rgb(27, 158, 239);
}
.message{
    background-color: rgb(209, 16, 227);
    padding: 15px;
   
    border-radius: 1rem;
    color: rgb(247, 247, 247);
}
.red{
    background-color: rgb(248, 48, 48);
}
.green{
    background-color: rgb(0, 185, 0);
}